<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>

<div class="container">
   <div class="row">
       <div class="col-sm-12">
            <br>
            <hr>
            <h2>Categorias</h2>
            <br>
            <a href="/admin/categories/new" class="btn btn-success">Nova Categoria</a>
            <br> <br>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>               
                <tr>
                    <td> <%= category.id %></td>
                    <td> <%= category.title %></td>
                    <td> <%= category.slug %></td>
                    <td>
                        <form onSubmit="confirmDelete(event, this)" method="post" action="/categories/delete" id="cat-<%= category.id %>" style="display: inline">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                            <input type="hidden" name="id" value="<%= category.id %>" />
                        </form>
                        <a href="./categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                    </td>
                </tr>

                <%  })%>
            </tbody>
        </table>
       </div>
   </div>
</div>

<script>
    const confirmDelete = (event, form) =>{

        event.preventDefault()

        var desicion = window.confirm('Deseja realmente deletar esta categoria?')

        if(desicion){

            form.submit()

        }
    }
</script>

<%- include('../../partials/footer.ejs'); %>